body {
  background-color: #f8f9fa;
}

.sidebar {
  width: 230px;
  background: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.list-group-item {
  border: none;
  font-weight: 500;
}

.list-group-item:hover {
  background-color: #e9ecef;
}

.logout-btn {
  color: #dc3545 !important;
  font-weight: bold;
}

.logout-btn:hover {
  background-color: #f8d7da;
  color: #b02a37 !important;
}

.footer-btn {
  position: absolute;
  bottom: 20px;
  width: 85%;
  left: 7.5%;
}
